<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsjk.boot.user.mapper.UserMapper">

    <!-- 根据roleId查询用户 -->
    <select id="selectRoleByUserId" resultType="Role">
        SELECT
        id, office_id, name, enname, role_type, data_scope, is_sys, useable, create_by, create_date,
        update_by, update_date, remarks, del_flag
        FROM sys_role a
        LEFT JOIN sys_user_role sur ON sur.role_id = a.id
        WHERE a.del_flag = 0 AND sur.user_id = #{userId}
    </select>

    <select id="selectMenuByUserId" resultType="Menu">
        SELECT DISTINCT
        id, parent_id, parent_ids, name, sort, href, target, icon, is_show, permission, create_by,
        create_date, update_by, update_date, remarks, del_flag
        FROM sys_menu a
        JOIN sys_role_menu rm ON rm.menu_id = a.id
        JOIN sys_user_role ur ON ur.role_id = rm.role_id
        WHERE a.del_flag = 0 AND ur.user_id = #{userId}
        ORDER BY a.sort
    </select>

</mapper>