# log
logging:
  file: logs/boot-service-user.log
  level:
    root: info
    com.dsjk.boot.service.user: debug
    com.bdfint.datasource: debug

# MyBatis
mybatis:
  type-aliases-package: com.dsjk.boot.common.bean
  configuration:
    map-underscore-to-camel-case: true

mapper:
  mappers:
    - com.dsjk.boot.user.mapper.CommonMapper
  not-empty: false
  identity: MYSQL

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

# dubbo
spring:
  dubbo:
    application.name: service-user
    registry.address: zookeeper://127.0.0.1:2181
    protocol.name: dubbo
    protocol.port: 20881
    scan: com.dsjk.boot.user.service

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/backend-boot?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: root
    # set pool
    initialSize: 1
    minIdle: 1
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20

custom.datasource:
  names: ds1,ds2
  ds1.type: com.alibaba.druid.pool.DruidDataSource
  ds1.driverClassName: com.mysql.jdbc.Driver
  ds1.url: jdbc:mysql://10.82.12.225:3306/zlgx_dev?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false
  ds1.username: root
  ds1.password: cheng@@

  ds2.type: com.alibaba.druid.pool.DruidDataSource
  ds2.driverClassName: com.mysql.jdbc.Driver
  ds2.url: jdbc:mysql://10.82.12.225:3306/zlgx_dev?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false
  ds2.username: root
  ds2.password: cheng@@